{% extends "InkstandThemeBundle:layout:default.html.twig" %}

{% block title %}InkstandResourceLibraryBundle:Topic:view{% endblock %}

{% block page_header %}{{ topic.name }}{% endblock %}

{% set breadcrumbs = knp_menu_get('InkstandResourceLibraryBundle:Builder:topicViewBreadcrumb', [], {'topic':topic}) %}
{% block breadcrumbs %}{{ knp_menu_render(breadcrumbs, {}, "breadcrumb") }}{% endblock %}

{% block main_content %}
    {% embed 'InkstandThemeBundle:partial:panel.html.twig' %}
        {% block panel_body %}
            {{ topic.description|raw }}
        {% endblock %}
    {% endembed %}
    {% embed 'InkstandThemeBundle:partial:panel.html.twig' with {"panel_title": "Resources"} %}
        {% block panel_body %}
            {% if resources is not empty  %}
                {% embed 'InkstandThemeBundle:partial:grid.html.twig' %}
                    {% block grid_head %}
                        <th></th>
                        <th>Topic</th>
                        <th>Actions</th>
                    {% endblock %}
                    {% block grid_body %}
                        {% for resource in resources %}
                            <tr>
                                <td>{{ render(controller('InkstandResourceLibraryBundle:Resource:render', {'resource': resource})) }}</td>
                                <td>
                                    {% if resource.topic %}
                                        {{ resource.topic.name }}
                                    {% else %}
                                        <span class="text-muted">N/A</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if is_granted("edit", resource) %}
                                        <a href="{{ path("inkstand_resource_library_resource_download") }}"><i class="fa fa-download fa-lg"></i></a>
                                    {% endif %}
                                    {% if is_granted("edit", resource) %}
                                        <a href="{{ path("inkstand_resource_library_resource_edit", {"resourceId":resource.resourceId}) }}"><i class="fa fa-pencil fa-lg"></i></a>
                                    {% endif %}
                                    {% if is_granted("delete", resource) %}
                                        <a href="{{ path("inkstand_resource_library_resource_delete") }}"><i class="fa fa-times fa-lg"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endblock %}
                {% endembed %}
            {% else %}
                <p class="text-muted">No resources yet.</p>
            {% endif %}

            {% for resource in resources %}
                <!-- Modal -->
                <div class="modal fade" id="resource-{{ resource.resourceId }}-preview-modal" tabindex="-1" role="dialog" aria-labelledby="resource-preview-modal">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{ resource.name }} {{ render(controller("InkstandRatingBundle:Rating:renderRateable", {"rateable": resource})) }}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-8">
                                        {{ resource.description }}
                                    </div>
                                    <div class="col-sm-4">
                                        <p>
                                            Topic: {% if resource.topic %}
                                                {{ resource.topic.name }}
                                            {% else %}
                                                <span class="text-muted">N/A</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-default" href="{{ path("inkstand_resource_library_resource_rate", {"resourceId": resource.resourceId}) }}"><i class="fa fa-star"></i> Rate</a>
                                <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> Download</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
