{# Handlebars syntax #}
{% raw %}
    <script id="template-file-manager-modal" type="text/x-handlebars-template">
        <div id="{{ name }}-file-explorer-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel"><i class="fa fa-search"></i> File Explorer</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="file-toolbar btn-group btn-group-sm pull-right">
                            <button class="file-action-refresh btn btn-default"><i class="fa fa-refresh"></i></button>
                            <button class="file-action-upload btn btn-default"><i class="fa fa-upload"></i></button>
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-toggle="modal" data-target="#{{ name }}-new-folder-modal">New folder</a></li>
                            </ul>
                        </div>
                        <div class="file-breadcrumbs">

                        </div>
                        <div data-page="files" class="modal-page">
                            <div class="file-list">

                            </div>
                            <div class="file-loader hidden text-center" style="margin:10px 0">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                        </div>
                        <div data-page="file" class="modal-page"></div>
                        <div data-page="upload" class="modal-page hidden">
                            <p><span class="text-muted">Uploading to</span> <span class="current-dir"></span></p>
                            <form class="file-upload-form">
                                <div class="form-group">
                                    <label for="exampleInputFile">File input</label>
                                    <input type="file" name="file" id="exampleInputFile">
                                    <p class="help-block">File will be uploaded to your filesystem.</p>
                                </div>
                                <div class="progress hidden">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 0%;minwidth:2em">
                                        0%
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Upload</button>
                                <button class="file-upload-cancel btn btn-default">Cancel</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="{{ name }}-new-folder-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">New folder</h4>
                    </div>
                    <div class="modal-body">
                        <form class="file-add-folder-form">
                            <div class="input-group">
                                <input type="text" name="dir" class="form-control" placeholder="">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default" type="button">Add</button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="template-file-explorer-file" type="text/x-handlebars-template">
        <div class="file pull-left text-center" data-file="{{ json }}">
            <div>
                <i class="fa fa-fw fa-{{ icon }}" style="font-size:30px"></i>
            </div>
            {{#if filename }}
            <small>{{ filename }}</small>
            {{else}}
            <small>{{ basename }}</small>
            {{/if}}
        </div>
    </script>

    <script id="template-file-explorer-file-single" type="text/x-handlebars-template">
        <h4><i class="fa fa-fw fa-{{ icon }}" style="font-size:30px"></i> File: {{ basename }}</h4>
        <ul>
            <li>Size: {{ size }}</li>
            <li>Last modifed: {{ timestamp }}</li>
        </ul>
        <button class="file-choose btn btn-primary" data-file="{{ json }}">Choose File</button>

    </script>

    <script id="template-file-explorer-breadcrumbs" type="text/x-handlebars-template">
        <ol class="breadcrumb">
            {{#if folderPathLinks}}
                {{#each folderPathLinks }}
                    {{#if @last }}
                        <li class="active">{{ dirName }}</li>
                    {{else}}
                        <li><a href="#" data-dir="{{ dir }}">{{ dirName }}</a></li>
                    {{/if }}
                {{/each}}
            {{/if }}
        </ol>
    </script>
{% endraw %}