{% extends "InkstandThemeBundle::base.html.twig" %}

{% block title %}InkstandCoreBundle:Role:list{% endblock %}

{% block page_header %}{{ 'role.list'|trans }}{% endblock %}

{% block main_content %}
    {% embed 'InkstandThemeBundle:partial:grid.html.twig' %}
        {% block grid_head %}
            <td>ID</td>
            <th>Name</th>
            <th>Parent Role</th>
            <th>Actions</th>
        {% endblock %}
        {% block grid_body %}
            {% for role in roles %}
                <tr>
                    <td>{{ role.roleId }}</td>
                    <td>{{ role.label }}</td>
                    {% if role.parent is not null %}
                        <td>{{ role.parent.label }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td><a href="{{ path("inkstand_core_role_edit", {"roleId":role.roleId}) }}"><i class="fa fa-cog"></i> {{ 'settings'|trans }}</a></td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
