{% extends "InkstandThemeBundle::base.html.twig" %}

{% block title %}InkstandUserBundle:User:upload{% endblock %}

{% block page_header %}{{ 'user.upload'|trans }}{% endblock %}

{% block main_content %}
    <p>{{ 'user.upload.description'|trans }}</p>
    {{ form_start(uploadForm) }}
    {{ form_widget(uploadForm) }}
    {{ form_end(uploadForm) }}
{% endblock %}