{% extends "InkstandUserBundle::user.html.twig" %}

{% block title %}InkstandUserBundle:User:list{% endblock %}

{% block page_header %}
    {% if userCount == 1 %}
        {{ 'list'|trans }} {{ userCount }} {{ 'user'|trans }}
    {% else %}
        {{ 'list'|trans }} {{ userCount }} {{ 'users'|trans }}
    {% endif %}
{% endblock %}

{% block main_content %}
    {{ parent() }}
    {% embed 'InkstandThemeBundle:partial:grid.html.twig' %}
        {% block grid_head %}
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <td>Actions</td>
        {% endblock %}
        {% block grid_body %}
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.userRoles %}
                            {{ role.label }}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path("inkstand_user_edit", {'userId':user.id}) }}">{{ 'user.edit'|trans }}</a></td>
                    <td><a href="{{ path("inkstand_user_delete", {'userId':user.id}) }}">{{ 'user.delete'|trans }}</a></td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}