{% extends "InkstandCourseBundle::course.html.twig" %}

{% block title %}InkstandCourseBundle:Course:view{% endblock %}

{% block main_content %}
    {{ parent() }}
	{% for module in course.modules %}
		{{ include('InkstandThemeBundle::module.html.twig', {'module':module}) }}
        <hr class="line-bold">
	{% endfor %}
	<a class="btn btn-default btn-primary" href="{{ path('inkstand_course_module_add', {'courseId': course.courseId}) }}">{% trans %}Add new module{% endtrans %}</a>
	<div id="modal-activity-list" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{% trans %}Add New Activity{% endtrans %}</h4>
				</div>
				<div class="modal-body">
					<div class="list-group">
						{% for activityType in activityTypes %}
							<a class="list-group-item" href="{{ path('inkstand_course_activity_add', {'activityTypeId':activityType.activityTypeId, 'moduleId':2}) }}">{{ activityType.name }}</a>
						{% endfor %}
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
{% endblock %}
