<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if setting("inkstand_core_search_index") == "0" %}
		<meta name="robots" content="noindex">
	{% endif %}
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% stylesheets
		'@InkstandThemeBundle/Resources/public/bower_components/font-awesome/css/font-awesome.css'
		'@InkstandThemeBundle/Resources/public/bower_components/bootstrap/dist/css/bootstrap.min.css'
		'@InkstandThemeBundle/Resources/public/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css'
		'@InkstandThemeBundle/Resources/public/css/font-awesome-fonts.css'
		'@InkstandThemeBundle/Resources/public/css/navmenu.css'
		'@InkstandCoreBundle/Resources/public/css/file-explorer.css'
		'@InkstandThemeBundle/Resources/public/css/custom.css'
	filter='cssrewrite'
	%}
	<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	{% block stylesheets %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body class="layout-base">
		<div class="navmenu navmenu-inverse navmenu-fixed-left offcanvas-sm">
			<a class="navmenu-brand visible-md visible-lg" href="#">{{ setting("inkstand_core_setting_sitename") }}</a>
			<ul class="nav navmenu-nav">
				<li><a href="{{ path("inkstand_dashboard") }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>
				<li><a href="{{ path("inkstand_course_catalog_index") }}"><i class="fa fa-fw fa-list"></i> Course Catalog</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-graduation-cap"></i> Course <b class="caret"></b></a>
					<ul class="dropdown-menu navmenu-nav" role="menu">
						<li><a href="{{ path('inkstand_course_catalog_index') }}">View catalog</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-circle-o"></i> Categories <b class="caret"></b></a>
					<ul class="dropdown-menu navmenu-nav" role="menu">
						<li><a href="{{ path('inkstand_course_category_add') }}">Add category</a></li>
					</ul>
				</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-user"></i> Users <b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav" role="menu">
                        <li><a href="{{ path('inkstand_user_add') }}">Add user</a></li>
                        <li><a href="{{ path('inkstand_user_list') }}">Manage users</a></li>
						<li><a href="{{ path('inkstand_core_role_list') }}">Manage roles</a></li>
                    </ul>
                </li>
			</ul>
		</div>

		<div class="navbar navbar-inverse navbar-fixed-top hidden-md hidden-lg">
			<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Inkstand LMS</a>
		</div>
		<div class="container-fluid">
			<div class="row">
				<nav style="display:block !important" class="navbar navbar-default navbar-static-top">
					<div class="container-fluid">
						<div class="navbar-header navbar-header-full">
							<ul class="nav navbar-nav navbar-right navbar-user">
								{% if app.user %}
									<li>
										<a href="" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.firstname }} {{ app.user.lastname }}
											{% if app.user.image %}
												&nbsp;<img width="32" class="img-responsive img-circle img-user inline" src="{{ app.user.image }}">
											{% endif %}
										</a>
										<ul class="dropdown-menu">
											<li><a href="{{ path("inkstand_user_profile", {"userId":app.user.id}) }}"><i class="fa fa-fw fa-user"></i> My Profile</a></li>
											<li><a href="#"><i class="fa fa-fw fa-user"></i> Messages <span class="label label-danger">42</span></a></li>
											<li><a href="#"><i class="fa fa-fw fa-calendar"></i> Calendar</a></li>
											<li role="separator" class="divider"></li>
											<li><a href="{{ path("inkstand_help") }}"><i class="fa fa-fw fa-question-circle"></i> Help</a></li>
											<li role="separator" class="divider"></li>
											<li><a href="{{ path("fos_user_security_logout") }}"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
										</ul>
									</li>
								{% else %}
									<li><a href="{{ path("fos_user_security_login") }}">Login</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div class="container-fluid">
			<div class="page-header page-header-sm">
				<h1>{% block page_header %}{% endblock %}</h1>

			</div>
			{% if breadcrumbs is defined %}
				<ol class="breadcrumb breadcrumb-inline">
					{% for breadcrumb in breadcrumbs %}
						{% if breadcrumb.route is defined %}
							<li><a href="{{ path(breadcrumb.route, breadcrumb.parameters) }}">{{ breadcrumb.title }}</a></li>
						{% else %}
							<li>{{ breadcrumb.title }}</li>
						{% endif %}
					{% endfor %}
				</ol>
			{% endif %}


			{{ include('InkstandThemeBundle::flash-messages.html.twig') }}

			<div class="row">
				<div class="col-lg-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="content" id="short-para" style="display: block;">
								{% block main_content %}{% endblock %}
							</div>
						</div>
					</div>
				</div>
				<!--
                for widget in page_template_service.getWidgetsForTemplate(1)
                    include(widget.partial)
                endfor
                -->

			</div>

		</div><!-- /.container -->

		<div id="file-explorer-modal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="gridSystemModalLabel"><i class="fa fa-search"></i> File Explorer</h4>
					</div>
					<div class="modal-body clearfix">
						<div data-page="files" class="modal-page">
							<div class="file-toolbar btn-group btn-group-sm pull-right">
								<button class="file-action-refresh btn btn-default"><i class="fa fa-refresh"></i></button>
								<button class="file-action-upload btn btn-default"><i class="fa fa-upload"></i></button>
								<button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></button>
								<ul class="dropdown-menu">
									<li><a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">New folder</a></li>
								</ul>
							</div>
							<div class="file-breadcrumbs">

							</div>
							<div class="file-list">

							</div>
							<div class="file-loader hidden text-center" style="margin:10px 0">
								<i class="fa fa-refresh fa-spin"></i>
							</div>
						</div>
						<div data-page="upload" class="modal-page hidden">
							<p><span class="text-muted">Uploading to</span> <span class="current-dir"></span></p>
							<form class="file-upload-form">
								<div class="form-group">
									<label for="exampleInputFile">File input</label>
									<input type="file" name="file" id="exampleInputFile">
									<p class="help-block">File will be uploaded to your filesystem.</p>
								</div>
								<button type="submit" class="btn btn-primary">Upload</button>
								<button class="file-upload-cancel btn btn-default">Cancel</button>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">New folder</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">Add</button>
								</span>
							</div><!-- /input-group -->
						</form>
					</div>
				</div>
			</div>
		</div>

		{# Handlebars syntax #}
		{% raw %}
		<script id="template-file-explorer-file" type="text/x-handlebars-template">
			<div class="file pull-left text-center" data-file="{{ json }}">
				<div>
					<i class="fa fa-fw fa-{{ icon }}" style="font-size:30px"></i>
				</div>
				{{#if filename }}
					<small>{{ filename }}</small>
				{{else}}
					<small>{{ basename }}</small>
				{{/if}}
			</div>
		</script>

		<script id="template-file-explorer-breadcrumbs" type="text/x-handlebars-template">
			<ol class="breadcrumb">
				{{#if folderPathLinks}}
					{{#each folderPathLinks }}
						{{#if @last }}
							<li class="active">{{ dirName }}</li>
						{{else}}
							<li><a href="#" onclick="changeDir('{{ dir }}')">{{ dirName }}</a></li>
						{{/if }}

					{{/each}}
				{{/if }}
			</ol>
		</script>
		{% endraw %}

		{% javascripts
			'@InkstandThemeBundle/Resources/public/bower_components/jquery/dist/jquery.min.js'
			'@InkstandThemeBundle/Resources/public/bower_components/datatables/media/js/jquery.dataTables.min.js'
			'@InkstandThemeBundle/Resources/public/js/dataTables.bootstrap.js'
			'@InkstandThemeBundle/Resources/public/bower_components/bootstrap/dist/js/bootstrap.min.js'
			'@InkstandThemeBundle/Resources/public/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js'
			'@InkstandThemeBundle/Resources/public/bower_components/handlebars/handlebars.min.js'
			'@InkstandCoreBundle/Resources/public/js/file-explorer.js'
			'@InkstandThemeBundle/Resources/public/js/custom.js'
		%}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
