<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% stylesheets 
		'@InkstandThemeBundle/Resources/public/bower_components/font-awesome/css/font-awesome.css'
		'@InkstandThemeBundle/Resources/public/bower_components/bootstrap/dist/css/bootstrap.min.css'
		'@InkstandThemeBundle/Resources/public/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css'
		'@InkstandThemeBundle/Resources/public/css/font-awesome-fonts.css'
		'@InkstandThemeBundle/Resources/public/css/navmenu.css'
		'@InkstandThemeBundle/Resources/public/css/custom.css'
	filter='cssrewrite' 
	%}
	<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	{% block stylesheets %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body class="layout-base">
		<div class="navmenu navmenu-inverse navmenu-fixed-left offcanvas-sm">
			<a class="navmenu-brand visible-md visible-lg" href="#">Inkstand LMS</a>
			<ul class="nav navmenu-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-graduation-cap"></i> Course <b class="caret"></b></a>
					<ul class="dropdown-menu navmenu-nav" role="menu">
						<li><a href="{{ path('inkstand_course_catalog_index') }}">View catalog</a></li>
						<li><a href="{{ path('inkstand_course_manage') }}">Manage courses</a></li>
					</ul>
				</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-user"></i> Users <b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav" role="menu">
                        <li><a href="{{ path('inkstand_user_add') }}">Add user</a></li>
                        <li><a href="{{ path('inkstand_user_list') }}">Manage users</a></li>
                    </ul>
                </li>
			</ul>
		</div>

		<div class="navbar navbar-inverse navbar-fixed-top hidden-md hidden-lg">
			<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Inkstand LMS</a>
		</div>
		<div class="container-fluid">
			<div class="row">
				<nav style="display:block !important" class="navbar navbar-default navbar-static-top">
					<div class="container-fluid">
						<div class="navbar-header navbar-header-full">
							<ul class="nav navbar-nav navbar-right">
								
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div class="container-fluid">
			{% if pageHeading is defined %}
				<div class="page-header page-header-sm">
					<h1>{{ pageHeading }}</h1>
				</div>
			{% endif %}

			{% if breadcrumbs is defined %}
				<ol class="breadcrumb bg-transparent">
					{% for breadcrumb in breadcrumbs %}
						<li><a href="{{ path(breadcrumb.route, breadcrumb.parameters) }}">{{ breadcrumb.title }}</a></li>
					{% endfor %}
				</ol>
			{% endif %}

			{{ include('InkstandThemeBundle::flash-messages.html.twig') }}

			<div class="row">
				<div class="col-lg-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="content" id="short-para" style="display: block;">
								{% block main_content %}{% endblock %}
							</div>
						</div>
					</div>
				</div>

                {% for widget in page_template_service.getWidgetsForTemplate(1) %}
                    {{ include(widget.partial) }}
                {% endfor %}

			</div>

		</div><!-- /.container -->
		{% javascripts 
			'@InkstandThemeBundle/Resources/public/bower_components/jquery/dist/jquery.min.js'
			'@InkstandThemeBundle/Resources/public/bower_components/datatables/media/js/jquery.dataTables.min.js'
			'@InkstandThemeBundle/Resources/public/js/dataTables.bootstrap.js'
			'@InkstandThemeBundle/Resources/public/bower_components/bootstrap/dist/js/bootstrap.min.js'
			'@InkstandThemeBundle/Resources/public/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js'
			'@InkstandThemeBundle/Resources/public/js/custom.js'
		%}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
