{% if category is defined and category is not null %}
	<h3>{{ category.name }}</h3>
	{% if category.courses|length == 0 %}
		<p class="alert alert-info clearfix">There are no courses in this category. <a class="btn btn-default pull-right" href="{{ path('inkstand_course_add') }}">Add Course</a></p>
	{% else %}
		<ul>
			{% for course in category.courses %}
				<li>
					<a href="{{ path('inkstand_course_view', {"slug":course.slug}) }}">{{ course.name }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% elseif categories is defined and categories is not null %}
	<div class="row">
		{% for category in categories %}
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-right">
							<a href="{{ path("inkstand_course_category_edit", {"categoryId":category.categoryId}) }}"><i class="fa fa-cog"></i></a>
						</div>
						<h3 class="panel-title"><a href="{{ path('inkstand_course_catalog_index', {"categoryId":category.categoryId}) }}">{{ category.name }}</a></h3>
					</div>
					<div class="panel-body">
						{% if category.featuredImage is defined %}
							<img class="img-responsive img-thumbnail" src="{{ category.featuredImage }}">
						{% endif %}
						<p>{{ category.description }}</p>
						<div>
							<a href="{{ path("inkstand_course_category_edit", {"categoryId":category.categoryId}) }}" class="btn btn-primary">View courses</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}