{% if category is defined %}
	{% if category.courses|length == 0 %}
		<p class="alert alert-info clearfix">There are no courses in this category. <a class="btn btn-default pull-right" href="{{ path('inkstand_course_add') }}">Add Course</a></p>
	{% endif %}
{% endif %}

<ul>
	{% if categories is defined %}
		{% for category in categories %}
			<li>
				<a href="{{ path('inkstand_course_catalog_index', {"categoryId":category.categoryId}) }}">{{ category.name }}</a>
			</li>
		{% endfor %}
	{% endif %}

	{% if category is defined %}
		{% for course in category.courses %}
			<li>
				<a href="{{ path('inkstand_course_view', {"slug":course.slug}) }}">{{ course.name }}</a>
			</li>
		{% endfor %}
	{% endif %}
</ul>