<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% stylesheets 
		'@InkstandThemeBundle/Resources/public/bower_components/font-awesome/css/font-awesome.css'
		'@InkstandThemeBundle/Resources/public/bower_components/bootstrap/dist/css/bootstrap.min.css'
		'@InkstandThemeBundle/Resources/public/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css'
		'@InkstandThemeBundle/Resources/public/css/*'
	filter='cssrewrite' 
	%}
	<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	{% block stylesheets %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body class="layout-minimal">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-target=".navmenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Inkstand LMS</a>
        </div>
		<div class="container-fluid">
			{% if pageHeading is defined %}
				<div class="page-header page-header-sm">
					<h1>{{ pageHeading }}</h1>
				</div>
			{% endif %}

			{% if breadcrumbs is defined %}
				<ol class="breadcrumb bg-transparent">
					{% for breadcrumb in breadcrumbs %}
						<li><a href="{{ path(breadcrumb.route, breadcrumb.parameters) }}">{{ breadcrumb.title }}</a></li>
					{% endfor %}
				</ol>
			{% endif %}

			{{ include('InkstandThemeBundle::flash-messages.html.twig') }}

			{% block main_content %}{% endblock %}

		</div><!-- /.container -->
		{% javascripts 
			'@InkstandThemeBundle/Resources/public/bower_components/jquery/dist/jquery.min.js'
			'@InkstandThemeBundle/Resources/public/bower_components/datatables/media/js/jquery.dataTables.min.js'
			'@InkstandThemeBundle/Resources/public/js/dataTables.bootstrap.js'
			'@InkstandThemeBundle/Resources/public/bower_components/bootstrap/dist/js/bootstrap.min.js'
			'@InkstandThemeBundle/Resources/public/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js'
			'@InkstandThemeBundle/Resources/public/js/custom.js'
		%}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
