<section class="module">
	<div class="module-header clearfix">	
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-activity-list">
				<i class="fa fa-plus"></i> <span class="hidden-xs">{% trans %}Add Activity{% endtrans %}</span>
			</button>
			<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<i class="fa fa-cog"></i> <span class="hidden-xs">{% trans %}Manage Module{% endtrans %}</span> <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="{{ path('inkstand_course_module_edit', {'moduleId':module.moduleId}) }}"><i class="fa fa-fw fa-pencil"></i> {% trans %}Edit{% endtrans %}</a></li>
				<li><a href="#"><i class="fa fa-fw fa-arrows"></i> {% trans %}Move{% endtrans %}</a></li>
				<li><a href="#"><i class="fa fa-fw fa-copy"></i> {% trans %}Duplicate{% endtrans %}</a></li>
				<li class="divider"></li>
				<li><a href="{{ path('inkstand_course_module_delete', {'moduleId':module.moduleId}) }}"><i class="fa fa-fw fa-remove"></i> {% trans %}Delete{% endtrans %}</a></li>
			</ul>
		</div>
		<h4 style="margin-top:0"> {{ module.name }}</h4>
	</div>		
	<div class="module-content">
		<p>{{ module.description}}</p>
		<ul class="list-unstyled">
			{% for activity in module.activities %}
				<li>
					<a href=""><i class="fa fw fa-link"></i> {{ activity.name }}</a>
					<div class="btn-group">
						<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<i class="fa fa-cog"></i> <span class="hidden-xs">{% trans %}Manage Activity{% endtrans %}</span> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><i class="fa fa-fw fa-pencil"></i> {% trans %}Edit{% endtrans %}</a></li>
							<li><a href="#"><i class="fa fa-fw fa-arrows"></i> {% trans %}Move{% endtrans %}</a></li>
							<li><a href="#"><i class="fa fa-fw fa-copy"></i> {% trans %}Duplicate{% endtrans %}</a></li>
							<li class="divider"></li>
							<li><a href="#"><i class="fa fa-fw fa-remove"></i> {% trans %}Delete{% endtrans %}</a></li>
						</ul>
					</div>
				</li>
			{% endfor %}
		</ul>
		<!-- Single button -->
	</div>
	<div class="module-footer">
		
	</div>
</section>